body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    color: #212020;
}
header {
    text-align: center;
    margin: 20px;
}
h1 {
    margin: 30px;
    font-size: 60px;
    color: #B8A489;
    font-family: cursive;
}
p {
    font-family: cursive;
    font-size: 30px;
    color: white;
}
.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}
.navbar a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.menu {
    text-decoration: underline;
    text-decoration-color: white;
}
main {
    justify-content: center;
    border-radius: 20px;
    margin-left: 300px;
}
.menu-category {
    margin-bottom: 40px;
}
.menu-category h2 {
    font-family: cursive;
    font-size: 60px;
    margin-left: 250px;
    margin-bottom: 40px;
    color: #B8A489;
    text-decoration: underline;
}
.menu-item {
    background-color: #F8F1E1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 80%;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 4px 10px
    rgba(0, 0, 0, 1)
}
img {
    width: 200px;
    height: 200px;
}
footer {
    text-align: center;
    padding: 10px;
    color: #414141;
}
.price {
    color: #414141;
}