body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #B8A489;
    color: #212020;
}
header {
    text-align: center;
    background-color: #F8F1E1;
    color: #212020;
    border-radius: 20px;
    margin: 20px;
    box-shadow: 0 4px 10px
    rgba(0, 0, 0, 1)
}
h1 {
    margin: 0;
    font-size: 60px;
    color: #361C0F;
    font-family: cursive;
}
p {
    font-size: 30px;
    color: #361C0F;
}
.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}
.navbar a {
    color: #414141;
    text-decoration: none;
}
.menu {
    text-decoration: underline;
}
main {
    
    border-radius: 20px;
    margin: 20px;
}
.menu-category {
    margin-bottom: 40px;
}
.menu-category h2 {
    font-size: 40px;
    margin-bottom: 40px;
    text-align: center;
    color: #361C0F;
    text-decoration: underline;
}
.menu-item {
    background-color: #F8F1E1;
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 4px 10px
    rgba(0, 0, 0, 1)
}
img {
    width: 200px;
    height: 200px;
}
.price {
    display: flex;
    flex-direction: column;
}